/*BARA DE MENIU PLUS FUNDAL*/
body {
	margin: 0px;
	background-image:
		url('imagini/galerieFoto/background_cinema_modificarePaint.jpg');
	background-attachment: fixed;
	overflow-x: hidden;
}

li {
	list-style-type: none;
}

ul {
	list-style-type: none;
	/* list-style-type:specific daca pun bulinute sau nu;
							exista: circle,square,upper-roman,lower-alpha,etc.*/
	margin: 0;
	padding: 0;
	overflow: hidden;
	/*overflow - specifica daca sa pun bare atunci cand spatiul e depasit
						hidden=nu;  scroll=da;*/
	background-color: #060505;
	border: 3px solid #FF4500;
	border-radius: 10%;
}

li {
	float: left;
	/*aseaza textul sau o imagine...o face sa ..."pluteasca" - ordonat
					exista : none|left|right|initial|inherit;*/
}

li a, .dropbtn {
	display: inline-block; /*le pune in linie*/
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	/*ca sa scot faptul ca tag-ul <a> subliniaza implicit - ca pentru un link*/
	color: white;
}

li a:hover, .dropdown:hover .dropbtn {
	background-color: #FF4500;
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none; /*initial nu se vede continutul din dropdown*/
	position: absolute;
	/*absolute:The element is positioned relative to its first positioned (not static) ancestor element
			position: static|absolute|fixed|relative|initial|inherit;*/
	border: 3px solid #FF4500;
	background-color: #060505;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content { /*ca sa imi afiseze dropdown-ul*/
	display: block;
	z-index: 1;
	/*ca atunci cand merg pe dropdown sa imi apara: bring to front*/
}

.dropdown-content a {
	/*aici ma refer strict la interiorul dropdown-ului*/
	color: black;
	text-decoration: none;
	display: block; /*ca sa mi le afiseze una sub alta*/
	text-align: left;
	/*daca as pune center mi-ar mari casuta => nu as vrea asta*/
	position: relative;
	/*ca atunci cand merg pe dropdown sa imi apara: bring to front*/
	z-index: 1;
	/*ca atunci cand merg pe dropdown sa imi apara: bring to front*/
	color: white;
}

.dropdown-content a:hover {
	background-color: #FF4500;
	color: white;
}

.dropdown:hover .dropbtn {
	background-color: #FF4500;
	color: white;
}

div {
	text-align: center;
}

ul {
	text-align: center;
	display: inline-block; /*scurtez fondul negru*/
}

/*#bara_navigatie{ fac bara de navigatie fixa atunci cand dau scroll
	position:fixed;
	width: 100%;
}*/
#bara_navigatie {
	margin: 50px 0px;
	position: relative;
	left: 26.5%; /*pozitia barei o schimb de aici */
	font-size: 120%;
}

#content_box {
	background-color: #060505;
	width: 950px;
	height: 1200px;
	border: 5px solid #FF4500;
	border-radius: 15%; /*era 15%*/
	padding: 25px;
	margin: 0px 0px 0px 0px;
	position: relative;
	left: 17%;
	/*box-shadow: 0px 8px 16px 8px rgba(0,0,0,2);*/
	-webkit-animation: mymove 5s infinite;
	animation: mymove 5s infinite;
}

@
keyframes mymove { 50% {
	box-shadow: 0px 8px 16px 8px #FF4500;
}

}
hr {
	border-color: #FF4500;
}

#p_index {
	text-align: center;
	font-size: 15.5px;
	color: white;
}

#titlu_sectiune {
	font-size: 25px;
	color: #FF4500;
	text-shadow: 15px 15px 10px #FF4500;
}

footer {
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	color: white;
}

#littleArrow { /*sageata de la meniu,pentru drop-down*/
	height: 10px;
	width: 10px;
}

#multumire {
	color: white;
	font-size: 20px;
}

/*BARA DE MENIU PLUS FUNDAL*/
#content_box_contact {
	background-color: #060505;
	width: 950px;
	height: 1200px;
	border: 5px solid #FF4500;
	border-radius: 15%;
	padding: 25px;
	margin: 0px 0px 0px 0px;
	position: relative;
	left: 17%;
	/*box-shadow: 0px 8px 16px 8px rgba(0,0,0,2);*/
	-webkit-animation: mymove 5s infinite;
	animation: mymove 5s infinite;
}

#h_contact {
	font-size: 25px;
	color: #FF4500;
	text-shadow: 15px 15px 10px #FF4500;
}

#tabel_contact {
	width: 600px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	border-color: #FF4500;
}

#tabel_filmeInCinematograf {
	width: 600px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	border-color: #FF4500;
}

tr {
	background-color: #FF4500;
}

tr:hover {
	background-color: white;
}

tr, td {
	font-style: italic;
	font-size: 18px;
}

#p_informatii_contact {
	text-align: center;
	font-size: 15.5px;
	color: white;
}

#content_box_feedBack {
	background-color: #060505;
	width: 950px;
	height: 800px;
	border: 5px solid #FF4500;
	border-radius: 15%;
	padding: 25px;
	margin: 0px 0px 0px 0px;
	position: relative;
	left: 17%;
	/*box-shadow: 0px 8px 16px 8px rgba(0,0,0,2);*/
	-webkit-animation: mymove 5s infinite;
	animation: mymove 5s infinite;
}

#feedBack_spre_propuneri:link, #feedBack_spre_propuneri:visited {
	-webkit-transition-duration: 0.4s;
	position: relative;
	right: 35px;
	transition-duration: 0.4s;
	border-radius: 15%;
	background-color: #FF4500;
	border: 2px solid white;
	color: black;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

#feedBack_spre_propuneri:hover, #feedBack_spre_propuneri:active {
	background-color: white;
	border: 2px solid #FF4500;
}

#feedBack_spre_reclamatii:link, #feedBack_spre_reclamatii:visited {
	position: relative;
	right: 140px;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	border-radius: 15%;
	background-color: #FF4500;
	border: 2px solid white;
	color: black;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

#feedBack_spre_reclamatii:hover, #feedBack_spre_reclamatii:active {
	background-color: white;
	border: 2px solid #FF4500;
}

#h_feedBack {
	font-size: 25px;
	color: #FF4500;
	text-shadow: 15px 15px 10px #FF4500;
}

#content_box_feedBackPropuneri {
	background-color: #060505;
	width: 950px;
	height: 600px;
	border: 5px solid #FF4500;
	border-radius: 15%;
	padding: 25px;
	margin: 0px 0px 0px 0px;
	position: relative;
	left: 17%;
	/*box-shadow: 0px 8px 16px 8px rgba(0,0,0,2);*/
	-webkit-animation: mymove 5s infinite;
	animation: mymove 5s infinite;
}

#h1_feedBackPropuneri {
	font-size: 25px;
	color: #FF4500;
	text-shadow: 15px 15px 10px #FF4500;
}

#h2_feedBackPropuneri {
	font-size: 22px;
	color: #FF4500;
	text-shadow: 15px 15px 10px #FF4500;
}

#feedBackPropuneri_label_nume {
	color: white;
	font-size: 19px;
}

#feedBackPropuneri_label_comentariu {
	color: white;
	font-size: 19px;
}

#feedBackPropuneri_input {
	color: black;
	font-size: 16px;
	border-radius: 5%;
	border: 3px solid #FF4500;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
	border-top: 3.5px solid #FF4500;
}

#feedBackPropuneri_input:focus {
	border: 3px solid white;
	border-top: 3.5px solid white;
	color: white;
	background-color: #FF4500;
}

#feedBackPropuneri_textarea {
	color: black;
	font-size: 16px;
	border-radius: 5%;
	border: 3px solid #FF4500;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
	border-top: 3.5px solid #FF4500;
}

#feedBackPropuneri_textarea:focus {
	border: 3px solid white;
	border-top: 3.5px solid white;
	color: white;
	background-color: #FF4500;
}

#feedBackPropuneri_submitButton {
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	background-color: white;
	color: black;
	border: 2px solid #FF4500;
	cursor: pointer;
}

#feedBackPropuneri_submitButton:hover {
	background-color: #FF4500;
	color: white;
	cursor: pointer;
	font-size: 17px;
}

#feedBackPropuneri_resetButton {
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	background-color: white;
	color: black;
	border: 2px solid #FF4500;
	cursor: pointer;
}

#feedBackPropuneri_resetButton:hover {
	background-color: #FF4500;
	color: white;
	cursor: pointer;
	font-size: 17px;
}

#multumire_feedBackPropuneri {
	color: white;
	font-size: 20px;
}

#multumire_feedBack {
	color: white;
	font-size: 20px;
}

#feedBackPropuneri_action_img_successfully {
	display: block;
	margin: auto;
	width: 20%;
	border: 2px solid #C90101;
	border-radius: 15%;
}

#h1_feedBackReclamatii {
	font-size: 25px;
	color: #FF4500;
	text-shadow: 15px 15px 10px #FF4500;
}

#h2_feedBackReclamatii {
	font-size: 22px;
	color: #FF4500;
	text-shadow: 15px 15px 10px #FF4500;
}

#feedBackReclamatii_label_nume {
	color: white;
	font-size: 19px;
}

#feedBackReclamatii_label_comentariu {
	color: white;
	font-size: 19px;
}

#feedBackReclamatii_input {
	color: black;
	font-size: 16px;
	border-radius: 5%;
	border: 3px solid #FF4500;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
	border-top: 3.5px solid #FF4500;
}

#feedBackReclamatii_input:focus {
	border: 3px solid white;
	border-top: 3.5px solid white;
	color: white;
	background-color: #FF4500;
}

#feedBackReclamatii_textarea {
	color: black;
	font-size: 16px;
	border-radius: 5%;
	border: 3px solid #FF4500;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	outline: none;
	border-top: 3.5px solid #FF4500;
}

#feedBackReclamatii_textarea:focus {
	border: 3px solid white;
	border-top: 3.5px solid white;
	color: white;
	background-color: #FF4500;
}

#feedBackReclamatii_submitButton {
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	background-color: white;
	color: black;
	border: 2px solid #FF4500;
	cursor: pointer;
}

#feedBackReclamatii_submitButton:hover {
	background-color: #FF4500;
	color: white;
	cursor: pointer;
	font-size: 17px;
}

#feedBackReclamatii_resetButton {
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	background-color: white;
	color: black;
	border: 2px solid #FF4500;
	cursor: pointer;
}

#feedBackReclamatii_resetButton:hover {
	background-color: #FF4500;
	color: white;
	cursor: pointer;
	font-size: 17px;
}

#multumire_feedBackReclamatii {
	color: white;
	font-size: 20px;
}

#feedBackReclamatii_action_img_successfully {
	display: block;
	margin: auto;
	width: 20%;
	border: 2px solid #C90101;
	border-radius: 15%;
}

#content_box_feedBackReclamatii_action {
	background-color: #060505;
	width: 950px;
	height: 250px;
	border: 5px solid #FF4500;
	border-radius: 15%;
	padding: 25px;
	margin: 0px 0px 0px 0px;
	position: relative;
	left: 17%;
	/*box-shadow: 0px 8px 16px 8px rgba(0,0,0,2);*/
	-webkit-animation: mymove 5s infinite;
	animation: mymove 5s infinite;
}

#content_box_feedBackPropuneri_action {
	background-color: #060505;
	width: 950px;
	height: 250px;
	border: 5px solid #FF4500;
	border-radius: 15%;
	padding: 25px;
	margin: 0px 0px 0px 0px;
	position: relative;
	left: 17%; /*box-shadow: 0px 8px 16px 8px rgba(0,0,0,2);*/
	-webkit-animation: mymove 5s infinite;
	animation: mymove 5s infinite;
}

#content_box_feedBackReclamatii {
	background-color: #060505;
	width: 950px;
	height: 600px;
	border: 5px solid #FF4500;
	border-radius: 15%;
	padding: 25px;
	margin: 0px 0px 0px 0px;
	position: relative;
	left: 17%; /*box-shadow: 0px 8px 16px 8px rgba(0,0,0,2);*/
	-webkit-animation: mymove 5s infinite;
	animation: mymove 5s infinite;
}

#h_feedBackReclamatii {
	font-size: 25px;
	color: #FF4500;
	text-shadow: 15px 15px 10px #FF4500;
}

#content_box_filme {
	background-color: #060505;
	width: 950px;
	height: 1200px;
	border: 5px solid #FF4500;
	border-radius: 15%;
	padding: 25px;
	margin: 0px 0px 0px 0px;
	position: relative;
	left: 17%; /*box-shadow: 0px 8px 16px 8px rgba(0,0,0,2);*/
	-webkit-animation: mymove 5s infinite;
	animation: mymove 5s infinite;
}

#h_filme {
	font-size: 25px;
	color: #FF4500;
	text-shadow: 15px 15px 10px #FF4500;
}

#content_box_filmeInCinematograf {
	background-color: #060505;
	width: 950px;
	height: 1200px;
	border: 5px solid #FF4500;
	border-radius: 15%;
	padding: 25px;
	margin: 0px 0px 0px 0px;
	position: relative;
	left: 17%; /*box-shadow: 0px 8px 16px 8px rgba(0,0,0,2);*/
	-webkit-animation: mymove 5s infinite;
	animation: mymove 5s infinite;
}

#h_filmeInCinematograf {
	font-size: 25px;
	color: #FF4500;
	text-shadow: 15px 15px 10px #FF4500;
}

#content_box_filmeInCurand {
	background-color: #060505;
	width: 950px;
	height: 1200px;
	border: 5px solid #FF4500;
	border-radius: 15%;
	padding: 25px;
	margin: 0px 0px 0px 0px;
	position: relative;
	left: 17%; /*box-shadow: 0px 8px 16px 8px rgba(0,0,0,2);*/
	-webkit-animation: mymove 5s infinite;
	animation: mymove 5s infinite;
}

#h_filmeInCurand {
	font-size: 25px;
	color: #FF4500;
	text-shadow: 15px 15px 10px #FF4500;
}

#content_box_galerieFoto {
	background-color: #060505;
	width: 950px;
	height: 1200px;
	border: 5px solid #FF4500;
	border-radius: 15%;
	padding: 25px;
	margin: 0px 0px 0px 0px;
	position: relative;
	left: 17%; /*box-shadow: 0px 8px 16px 8px rgba(0,0,0,2);*/
	-webkit-animation: mymove 5s infinite;
	animation: mymove 5s infinite;
}

#h_galerieFoto {
	font-size: 25px;
	color: #FF4500;
	text-shadow: 15px 15px 10px #FF4500;
}

#content_box_genuri {
	background-color: #060505;
	width: 950px;
	height: 600px;
	border: 5px solid #FF4500;
	border-radius: 15%;
	padding: 25px;
	margin: 0px 0px 0px 0px;
	position: relative;
	left: 17%; /*box-shadow: 0px 8px 16px 8px rgba(0,0,0,2);*/
	-webkit-animation: mymove 5s infinite;
	animation: mymove 5s infinite;
}

#h_genuri {
	font-size: 25px;
	color: #FF4500;
	text-shadow: 15px 15px 10px #FF4500;
}

#content_box_genuriActiune {
	background-color: #060505;
	width: 950px;
	height: 2700px;
	border: 5px solid #FF4500;
	border-radius: 15%;
	padding: 25px;
	margin: 0px 0px 0px 0px;
	position: relative;
	left: 17%; /*box-shadow: 0px 8px 16px 8px rgba(0,0,0,2);*/
	-webkit-animation: mymove 5s infinite;
	animation: mymove 5s infinite;
}

#h_genuriActiune {
	font-size: 25px;
	color: #FF4500;
	text-shadow: 15px 15px 10px #FF4500;
}

#h_genuriComedie {
	font-size: 25px;
	color: #FF4500;
	text-shadow: 15px 15px 10px #FF4500;
}

#h_genuriHorror {
	font-size: 25px;
	color: #FF4500;
	text-shadow: 15px 15px 10px #FF4500;
}

#content_box_genuriComedie {
	background-color: #060505;
	width: 950px;
	height: 2800px;
	border: 5px solid #FF4500;
	border-radius: 15%;
	padding: 25px;
	margin: 0px 0px 0px 0px;
	position: relative;
	left: 17%; /*box-shadow: 0px 8px 16px 8px rgba(0,0,0,2);*/
	-webkit-animation: mymove 5s infinite;
	animation: mymove 5s infinite;
}

#h_genuriComedie {
	font-size: 25px;
	color: #FF4500;
	text-shadow: 15px 15px 10px #FF4500;
}

#h_genuriDrama {
	font-size: 25px;
	color: #FF4500;
	text-shadow: 15px 15px 10px #FF4500;
}

#content_box_genuriDrama {
	background-color: #060505;
	width: 950px;
	height: 2750px;
	border: 5px solid #FF4500;
	border-radius: 15%;
	padding: 25px;
	margin: 0px 0px 0px 0px;
	position: relative;
	left: 17%; /*box-shadow: 0px 8px 16px 8px rgba(0,0,0,2);*/
	-webkit-animation: mymove 5s infinite;
	animation: mymove 5s infinite;
}

#h_genuriDrama {
	font-size: 25px;
	color: #FF4500;
	text-shadow: 15px 15px 10px #FF4500;
}

#content_box_genuriHorror {
	background-color: #060505;
	width: 950px;
	height: 2650px;
	border: 5px solid #FF4500;
	border-radius: 15%;
	padding: 25px;
	margin: 0px 0px 0px 0px;
	position: relative;
	left: 17%; /*box-shadow: 0px 8px 16px 8px rgba(0,0,0,2);*/
	-webkit-animation: mymove 5s infinite;
	animation: mymove 5s infinite;
}

#h_genuriHorror {
	font-size: 25px;
	color: #FF4500;
	text-shadow: 15px 15px 10px #FF4500;
}

#content_box_genuriSF {
	background-color: #060505;
	width: 950px;
	height: 2700px;
	border: 5px solid #FF4500;
	border-radius: 15%;
	padding: 25px;
	margin: 0px 0px 0px 0px;
	position: relative;
	left: 17%; /*box-shadow: 0px 8px 16px 8px rgba(0,0,0,2);*/
	-webkit-animation: mymove 5s infinite;
	animation: mymove 5s infinite;
}

#h_genuriSF {
	font-size: 25px;
	color: #FF4500;
	text-shadow: 15px 15px 10px #FF4500;
}

#content_box_programCinema {
	background-color: #060505;
	width: 950px;
	height: 1200px;
	border: 5px solid #FF4500;
	border-radius: 15%;
	padding: 25px;
	margin: 0px 0px 0px 0px;
	position: relative;
	left: 17%; /*box-shadow: 0px 8px 16px 8px rgba(0,0,0,2);*/
	-webkit-animation: mymove 5s infinite;
	animation: mymove 5s infinite;
}

#h_programCinema {
	font-size: 25px;
	color: #FF4500;
	text-shadow: 15px 15px 10px #FF4500;
}

#content_box_trailere {
	background-color: #060505;
	width: 950px;
	height: 1200px;
	border: 5px solid #FF4500;
	border-radius: 15%;
	padding: 25px;
	margin: 0px 0px 0px 0px;
	position: relative;
	left: 17%; /*box-shadow: 0px 8px 16px 8px rgba(0,0,0,2);*/
	-webkit-animation: mymove 5s infinite;
	animation: mymove 5s infinite;
}

#h_trailere {
	font-size: 25px;
	color: #FF4500;
	text-shadow: 15px 15px 10px #FF4500;
}

#chenar_footer {
	background-color: #060505;
	border: 3px solid #FF4500;
	border-radius: 10%; /*era 10%*/
	display: inline-block;
	text-align: center;
	padding: 14px 16px;
	margin: 50px 0px;
	position: relative;
	left: 19.5%; /*pozitia barei o schimb de aici */
}

#feedBack_img_good {
	position: relative;
	right: 100px;
	bottom: 30%;
	width: 19%;
	height: 17%;
	border: 2px solid #FF4500;
	border-radius: 15%;
}

#feedBack_img_bad {
	position: relative;
	left: 230px;
	bottom: 30%;
	width: 19%;
	height: 17%;
	border: 2px solid #FF4500;
	border-radius: 15%;
}

#p_genuriActiune {
	text-align: center;
	font-size: 15.5px;
	color: white;
}

#p_genuriComedie {
	text-align: center;
	font-size: 15.5px;
	color: white;
}

#p_genuriSF {
	text-align: center;
	font-size: 15.5px;
	color: white;
}

#p_genuriHorror {
	text-align: center;
	font-size: 15.5px;
	color: white;
}

#p_genuriDrama {
	text-align: center;
	font-size: 15.5px;
	color: white;
}

#p_NumeFilmeGenuriActiune {
	color: #FF4500;
	text-shadow: 15px 15px 10px #FF4500;
	font-weight: bold;
	font-size: 21px;
}

#p_NumeFilmeGenuriComedie {
	color: #FF4500;
	text-shadow: 15px 15px 10px #FF4500;
	font-weight: bold;
	font-size: 21px;
}

#p_NumeFilmeGenuriSF {
	color: #FF4500;
	text-shadow: 15px 15px 10px #FF4500;
	font-weight: bold;
	font-size: 21px;
}

#p_NumeFilmeGenuriHorror {
	color: #FF4500;
	text-shadow: 15px 15px 10px #FF4500;
	font-weight: bold;
	font-size: 21px;
}

#p_NumeFilmeGenuriDrama {
	color: #FF4500;
	text-shadow: 15px 15px 10px #FF4500;
	font-weight: bold;
	font-size: 21px;
}

iframe {
	border-radius: 12px;
	border: 2px solid #FF4500;
	opacity: 0.5;
	filter: alpha(opacity = 50); /* For IE8 and earlier */
}

iframe:hover {
	opacity: 1.0;
	filter: alpha(opacity = 100); /* For IE8 and earlier */
}

#genuri_spreCategorii:link, #genuri_spreCategorii:visited {
	-webkit-transition-duration: 0.4s;
	position: relative;
	right: 35px;
	transition-duration: 0.4s;
	border-radius: 15%;
	background-color: #FF4500;
	border: 2px solid white;
	color: black;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

#genuri_spreCategorii:hover, #genuri_spreCategorii:active {
	background-color: white;
	border: 2px solid #FF4500;
}

#p_feedBack {
	text-align: center;
	font-size: 15.5px;
	color: white;
}

#p_genuri {
	text-align: center;
	font-size: 15.5px;
	color: white;
}

#span_genuri {
	position: relative;
	left: 5%;
}